[2015-05-20 12:33] chrisdutz opened #1 "Bereitstellen eines "Track" Objekts"
Momentan wird der Track lediglich über seinen Namen identifiziert. Ich hatte mich mit Gerd darüber unterhalten, dass es schön wäre, wenn man Tracks attribute zuweisen könnte (Farbe etc.). Dazu bräuchten wir einen getrennten Objekttyp.

[2015-05-20 12:36] chrisdutz opened #2 "Erweitern der Objekte um einen eindeutigen PrimaryKey"
Momentan werden Speaker scheinbar über ihren Namen mit einem Talk verknüpft. Das fühlt sich für mich eher schlecht an. Zwar ist die Wahrscheinlichkeit dass ein Name doppelt vorkommt, ich würde das Problem aber gerne ausschließen. Technische Schlüssel würden auch updates und abgleiche erleichtern. Schließlich kann man im offline mode oder beim Einsatz mehrerer clients evtl. Probleme bekommen.

[2015-05-20 15:09] dasniko commented on #2
Momentan werden Speaker überhaupt nicht mit einem Talk verknüpft, sie sind einfach ein Objekt des Talk-Objektes. Da ist keine "Relation" da, da in den Ursprungsdaten auch keine Relation da ist.

[2015-06-29 20:00] ascheman opened #3 "Cleanup Daten + "statische" Bereitstellung durch den Server"
Die "talks"-Daten sollten einmal bereinigt (Duplikate entfernen) und im Server bereitgestellt werden (kein regelmäßiger Abruf von der DOAG mehr, es ändert sich ohnehin nix).

[2015-07-19 10:12] ascheman opened #4 "Fehlertolerantes Holen der Daten von JL"
Aktuelles Problem: JavaLand-Backend liefert keine Daten. Das sollte tolerant behandelt werden (evtl. zusammen mit einem allgemeinen Caching, vgl. #3).

Implementierungsidee: Hystrix

[2015-07-19 11:37] sippsack commented on #4
Ich dachte der Server cached schon das doag json bzw. liefert eine gespeicherte Version aus.

Die doag hat das 2015er jetzt scheinbar vom Netz genommen. Die sollten uns erste mal eine dauerhafte test-url zur Verfügung stellen.

[2015-07-19 11:39] ascheman commented on #4
Nö, solange niemand #3 löst, gibt's kein Caching ;-)

Werde natürlich auch nochmal bei der DOAG nachfragen, vielleicht war es nur ein Versehen? Frank hatte auch schon mal geklagt dass es nicht so stabil sei.

Aber wir sollten auch fehlertolerant werden ...

[2015-07-19 12:29] sippsack commented on #4
Was soll denn passieren, wenn die hystrix Sicherung raus ist? Einfach die statische Variante aus #3 laden. Dann müssen wir in #3 die Daten auf dem Server nach jeder Änderung durch die doag automatisiert irgendwo fest ablegen (filesystem, db?). Also immer die Daten von der doag holen. Wenn die doag Daten nicht verfügbar sind, wird der letzte stand zurückgegeben.

[2015-07-19 12:34] ascheman commented on #4
Ja, ungefähr so hätte ich mir das auch gedacht ...

[2015-09-21 13:41] ascheman opened #5 "Provide centralized server logs"
_From @ascheman on September 21, 2015 13:40_

e.g. via logstash service

_Copied from original issue: dukecon/dukecon#10_

[2015-09-23 08:11] ascheman opened #6 "Create automated load test"
We definitely should have an automated CI load test for the REST server!

[2015-09-23 09:42] sippsack opened #7 "Konfigurierbare Cache-Invalidierung statt dauerhaften Caching des DOAG-Inputs im TalkProvider"

[2015-09-23 09:43] sippsack opened #8 "Admin-URL zum Cache-Invalidieren des DOAG-Inputs im Talk-Provider"

[2015-09-23 09:45] sippsack opened #9 "Automatisches Erkennen Veränderungen des DOAG-Inputs um Cache zu invalidieren"
Zeitstempel auswerten oder HTTP-Cache-Mechanismen verwenden.

[2015-09-23 14:02] chrisdutz opened #11 "Provide a secure ping url rest service that can be used to force a login"

[2015-09-24 16:42] ascheman opened #13 "Filter input data for certain event types"
The Javaland input data contains event types like "Projektbericht" or "Best Practices". These will be extended by new types, e.g., "Schulung". We should be able to filter out all but a well defined set of event types to be able to postpone publications or test the representation in a test environment etc.

It would be nice, if the filter criteria could be changed during runtime, e.g., through a se

[2015-09-24 18:18] ascheman opened #14 "Server cache should be completely invalidated upon reload from DOAG"
TalkProvider needs to re-initialize the talks cache with an empty list when reloading the data from DOAG. Currently ```0c5682d9ee5a1c57769c8b26471e102e3e78d952``` does not recognize a moved talk due to the same ID (then omits it as duplicate).

[2015-09-25 12:30] ascheman commented on #1
Bekommen wir das über den neuen Meta-Service?

[2015-09-25 12:31] ascheman commented on #3
Hat sich erledigt ...

[2015-09-25 12:31] #3 closed

[2015-09-26 20:48] #7 closed

[2015-10-10 08:38] sippsack opened #22 "Restservice Umbauten am HackingDay"
Umbenennung:
Talks -> Events
TalkType -> EventType
Rooms -> Locations

Konferenz-ID in URL mitgeben
rest/conferences/ID/events

Locations: auch names mit de, en

Icon-URLs mitliefern

Bugs fixen:
1. Testdaten mit Community-Aktivitäten liefern Event ohne Speaker:

Testdaten-Fehler: 2015-10-10 08:08:19.855 ERROR 1 --- [nio-8080-exec-2] o.a.c.c.C.[.[.[.[jerseyServlet]          : Servlet.service() for

[2015-10-11 08:30] #22 closed

[2015-10-11 08:31] sippsack commented on #22
soweit alles durch, bei den Icons müssen wir nochmal schauen, die kommen im Moment in der Form track_1.png, language_de.png usw mit.

[2015-11-11 13:18] sippsack opened #28 "Setup and configure PostgreSQL"

[2015-11-13 14:00] steffchep opened #29 "Stack Trace in Server when calling keycloak.json for the first time"
Prereq:

[keycloak.txt](https://github.com/dukecon/dukecon_server/files/33991/keycloak.txt)
- you are not logged in (clear cookies to be sure)
- load the html page
- in the server you see the stack trace attached

[2015-11-15 12:38] ascheman commented on #28
Started migration (or better parallel development) on new branch feature/postgres. Currently some integration tests still fail. Do you have time to check this?

[2015-11-15 20:54] annam002 opened #30 "Provide method to retrieve data status"
Related to https://github.com/dukecon/dukecon_html5/issues/22:
It would be nice to be able to ask the server if there are changes in the data since a certain timestamp.

[2015-11-26 15:27] sippsack commented on #30
@ascheman and I already discussed it. We could calculate a hash over the input json from DOAG and send you this. The client could persist this hash and compare with future requests.

Or should we use a http automatism for it, e. g. etag? I've no experiences with this.

[2015-11-26 15:30] sippsack commented on #29
@srose should have a look at this exception, I already invited him to our github project

[2015-11-26 15:32] sippsack commented on #28
I hadn't time yet but will look into it in the next few days.

[2015-11-26 15:34] sippsack commented on #14
does this belong to #9

[2015-12-06 20:55] sippsack commented on #30
I've added http etag support to our REST configuration. Calling the REST service returns an etag value in the http header:

$ curl -s -D - -H "Content-Type: application/json" 'http://localhost:8080/devel
op/rest/conferences/499959/' -o /dev/null
HTTP/1.1 200 OK
Server: Apache-Coyote/1.1
ETag: "02a288e71103d29d262eec7e4e61d9a0c"
Content-Type: application/json;charset=UTF-8
Content-Length: 143047
Da

[2015-12-06 20:55] #30 closed

[2016-01-05 22:57] ahus1 commented on #4
Adding volumes to https://github.com/dukecon/dukecon_server_docker/commit/c599644c8e048685c8b8d915c965c61d90a203bf

[2016-01-05 23:06] ahus1 commented on #4
habe mich mal drum gekümmert und mit PR #35 ein Beispiel zur Verfügung gestellt. Funktioniert zusammen mit den Ändeurngen in dukecon_server_docker und dukecon_infra.

@ascheman / @sippsack (oder ein anderer Freiwilliger): freue mich über ein Review.

Den Timeout für Datenabruf bei DOAG habe ich auf 5 Sekunden festgelegt. Denkt ihr das ist OK?

[2016-01-10 17:06] ahus1 commented on #4
beide PRs sind gemerged. Schließen (wenn's vorher noch mal jemand testet?)

[2016-01-10 17:07] ahus1 commented on #5
Wie wäre es mit Graylog? Da hätte ich wohl Spaß dran. Kann in der neusten Version wohl sogar direkt die Konsolenausgabe von Docker entgegennehmen.

Bleibt die Frage: wo packen wir es rein? dukecon_infra? Und wenn ja, wo?

[2016-01-11 19:31] ascheman commented on #11
@chrisdutz Is this still necessary?

[2016-01-11 19:33] ascheman commented on #14
Seems to be resolved by #4 (#35)?

[2016-01-11 19:33] #14 closed

[2016-01-11 19:36] ascheman commented on #2
@chrisdutz Ist das noch relevant?

[2016-01-13 21:02] ascheman commented on #13
Gerd checks with DOAG that there will be no further changes until march ...

[2016-01-13 21:03] #11 closed

[2016-01-13 21:13] sippsack commented on #9
obsolete because of hystrix integration, server fetches doag data every 5 minutes for now

[2016-01-13 21:13] #9 closed

[2016-01-15 00:18] sippsack commented on #28
postgresql and flyway are configured

to start server application against postgresql:
- mvn spring-boot:run -Dspring.profiles.active=postgresql

to test server application against postgresql:
- mvn test -Dspring.profiles.active=postgresql-test

h2 db will be used without profile "postgresql*"
- In-Memory (jdbc:h2:mem:testdb)
- db console available: http://localhost:8080/develop/h2-console/

[2016-01-15 00:18] #28 closed

[2016-01-17 15:20] steffchep commented on #29
HAve not seen this in some time.... closing

[2016-01-17 15:20] #29 closed

[2016-01-22 12:15] ascheman opened #36 "Investigate/Reduce runtime memory size of Dukecon Server (in Docker Container?)"
In some environments resident memory consumption of the server soon raises to 1.5g or even more:

[code]

This should be investigated and reduced: A local server instance usually only needs 300-500m.

[2016-01-22 21:22] ahus1 commented on #36
did you peek into it using jconsole? how much memory was actually used?

[2016-01-30 11:53] ascheman commented on #36
Current workaround: Set JVM memory parameters in Docker image

[2016-02-15 21:08] ascheman commented on #4
Erledigt!

[2016-02-15 21:08] #4 closed

[2016-02-15 21:09] ascheman commented on #2
Nicht mehr nötig!

[2016-02-15 21:09] #2 closed

[2016-02-15 21:10] ascheman commented on #1
Aktuell nicht mehr nötig!

[2016-02-15 21:10] #1 closed

[2016-02-16 09:01] ahus1 opened #37 "Unable to parse German & English talks"
Health Check notifies as follows:

https://dukecon.org/javaland/health

"javalandDataProvider":{"status":"DOWN","error":"groovy.lang.MissingPropertyException: No such property: GERMAN & ENGLISH for class: java.util.Locale"}

[2016-02-16 10:54] ahus1 commented on #37
Es gibt eine neue Sprache "German & English"

@ascheman - bitte übernehmen sie (zumindest das HTML Frontend kommt damit klar).

Aktuell kann vom Modell her ein Event nur eine Sprache haben.

[2016-02-19 11:45] ahus1 commented on #8
URL available for refresh: `/rest/conferences/update/499959`

Open issues: you might need to add SSL CA of of SSL certificate at keycloak to you JVM. Redirects of Sprint Boot won't go to SSL.

[2016-02-28 17:07] ahus1 commented on #8
@ascheman / @chrisdutz fixed an issue with dukecon_server passing the link back to the app without SSL when accessing a secured backend server URL. This might make things easier inside the flex client. See 3d7c2abf5e66c1ece2995365864847554432d763

[2016-02-28 17:07] #8 closed

[2016-03-05 17:13] annam002 opened #38 "getEvents() called twice"
getEvents() in JavalandDataExtractor is called twice when retrieving all the data for a conference: once to actually get the events, and the second time in getSpeakerIdToEvents() to sort the events by speaker. Performance measuring showed that this method can be a bottleneck, so it should be called only once.

[2016-03-11 09:51] dasniko commented on #6
With Gatling? No Problem!
Give us some numbers about what a real-world-production-scenario looks like!

[2016-03-11 09:55] dasniko opened #39 "Remove direct Swagger dependency again, use JAX-RS Analyser Plugin again and adjust return values of controller methods for proper swagger.json generation"
The direct Swagger dep was created to have a quick and dirty hack for producing a meaningful swagger.json, b/c the controller methods just return a `Response` object, which can't be detected usefully from the JAX-RS Analyser plugin.
So, if we refactor the return values of the controller methods, we can use JAX-RS Analyser plugin again and can get rid of the superflous swagger deps and annotations.

[2016-03-14 15:36] annam002 opened #40 "Speaker data broken"
The speaker data seems to be broken, possibly due to the introduction of the twitter handles:
- when a talk has two speakers, both speakers get the same handle
- when a speaker has several talks, he appears twice

[2016-03-24 18:46] dasniko commented on #39
I tried several approaches in the meantime...

_JAX-RS Analyser Plugin_ seems to have difficulties when it comes to nested elements and/or lists (which is also a kind of nesting) as return values. I don't know if this is a global problem of the plugin or if it's related to the fact that we are using Groovy and not Java classes (I guess, it's related to Groovy). It would have been a good choice, as

[2016-03-24 19:11] sippsack commented on #39
But for spring Rest docs we have to switch from jax-rs to spring mvc annotations afaik.

We tried swagger because of swagger2markup which generates nice documemts with user defined custom blocks.

[2016-03-24 19:42] dasniko commented on #39
So, why not refactor to pure Spring annotations?

[2016-03-24 22:23] sippsack commented on #39
Why did we start with jax-rs anyway?

[2016-03-25 11:36] dasniko commented on #39
Perhaps b/c it has a very much cleaner Annotation API to use... (and I know that it was me, who persisted to use the JAX-RS API)

But if this leads to pull in more and more dependencies and not gaining more functionality with them, it's worth rethinking the approach and refactor the application. If the goal is to have a readable documentation and you can drop 3 dependencies, it's more than worth i

[2016-03-29 19:21] ascheman opened #41 "Repair twitter data"
At least for speakers which have more than one talk or for speakers which are co-speakers with others, the twitter handle seems to be wrong in some cases. Additionally reading/merging of twitter data should be refactored to a resource handler on its own.

[2016-05-26 10:14] ascheman commented on #41
Seems to be the same problem as #40

[2016-05-26 10:14] #41 closed, assigned to ascheman

[2016-07-06 13:57] sippsack opened #42 "Selenium tests doesn't work"
https://dev.dukecon.org/jenkins/job/dukecon_server_develop/org.dukecon$dukecon-server-springboot/471/testReport/junit/org.dukecon.server.gui/DetailPageTest/should_show_details_page/

Unable to instantiate Drone via org.openqa.selenium.firefox.FirefoxDriver(Capabilities): org.openqa.selenium.WebDriverException: Failed to connect to binary FirefoxBinary(/usr/bin/firefox) on port 7055; process output

[2016-07-07 12:05] ahus1 commented on #42
locally it now works with the latest version of firefox - but not on the server yet. I'll have another look at it on the server. Server is running on Firefox 46, latest version is Firefox 47

[2016-07-07 13:13] ahus1 commented on #42
There is a known problem with Firefox 47.0.0 that has been fixed in Firefox 47.0.1. https://github.com/SeleniumHQ/selenium/issues/2110.

The fixed version is not yet available for Ubuntu.

@ascheman: I've installed Firefox 47.0.1 in /opt/mozilla-firefox and used `update-alternatives` to point the firefox command to the new firefox installation. This will probably not survive the next firefox packa

[2016-07-07 13:13] #42 closed, assigned to nobody

[2016-08-21 13:14] dukecon-jenkins commented on #42
FF 48.0 still seems to have some problems (we did have at least 3 test failures in recent builds).

I have rebased to 47.0.1 (of @ahus1 installation) and reduced the number of test failures to 1 (and enabled building of downstream projects to run for unstable builds).

However, we have to look into this!

##

Gerd Aschemann --- Veröffentlichen heißt Verändern (Carmen Thomas)
+49/173/3264070 -- ger

[2016-08-25 12:12] chrisdutz opened #43 "Problems with the versioneye plugin"
I am getting strange errors from the versioneye plugin:

[INFO] --- versioneye-maven-plugin:3.10.2:update (default-cli) @ dukecon-server ---
[INFO] .
[INFO] Starting to update dependencies to server. This can take a couple seconds ...
[INFO] .
[INFO] File /var/lib/jenkins/jobs/dukecon_server_develop/workspace/src/qa/resources/versioneye.properties does not exist
[INFO] File /var/lib/jenkins/jobs/d

[2016-08-25 12:25] ascheman commented on #43
Occured in https://dev.dukecon.org/jenkins/view/Build%20Pipeline%20Develop/job/dukecon_server_develop/495/console for example.

[2016-08-25 14:30] sippsack opened #44 "Set CORS Header"
If HTML5 client accesses conferences rest service from other domain:

XMLHttpRequest cannot load https://dev.dukecon.org/latest/rest/conferences/499959. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8080' is therefore not allowed access.

We need to set these headers.

[2016-08-25 14:34] reiz commented on #43
Hi @ascheman @chrisdutz We created some new SSL certificates for some sub domains via [LetsEncrypt](https://letsencrypt.org/), but didn't updated the main cert for the main domain www.versioneye.com. I guess that caused the error. Now ALL domains and sub domains of VersionEye are running on [LetsEncrypt](https://letsencrypt.org/) certs. Can you please try again and let me know if it's fixed?

[2016-08-25 15:36] #44 closed, assigned to sippsack

[2016-08-25 15:36] sippsack commented on #44
added jax rs cors filter to server impl

[2016-12-21 21:14] sippsack opened #45 "duplicate speakers from rest/conferences/jl2017"
e. g.

Christian Kaltepoth with different twitter handles
Carola Lilienthal
Jochen Mader one with twitter handle and one without

[2016-12-28 14:08] steffchep opened #46 "Set correct http status codes for non-existent conference-id"
Example:
https://dev.dukecon.org/latest/rest/conferences/qweqwer - returns 200 and an empty body
https://dev.dukecon.org/latest/rest/conferences/qweqwer/styles.css returns 500

Expect both to return 404 as they don't exist

[2016-12-28 21:28] #46 closed, assigned to sippsack

[2017-01-05 11:33] ascheman opened #47 "No qualifying bean of type [org.dukecon.server.adapter.ConferenceDataProvider] found"
Automatic testing fails with error `No qualifying bean of type [org.dukecon.server.adapter.ConferenceDataProvider] found`, cf. https://dev.dukecon.org/jenkins/view/Build%20Pipeline%20Develop/job/dukecon_server_develop/lastBuild/org.dukecon$dukecon-server-springboot/testReport/org.dukecon.server.favorite/FavoritesRepositorySpec/test_simple_insert/

[2017-01-05 12:14] ascheman commented on #47
Seems this is broken since the dynamic conference configuration was introduced?
I have disabled test cases for now (ignore). @sippsack could you please check what the real problem was and how we could resolve this? Looks like there was no instance of ConferenceDataProvider was introduced during tests?

[2017-01-05 12:18] ascheman commented on #45
Duplicate of #40?

[2017-01-05 12:18] #45 closed, assigned to ascheman

[2017-01-05 15:46] ascheman commented on #40
Fixed!

[2017-01-05 15:46] #40 closed, assigned to ascheman

[2017-01-11 22:01] sippsack commented on #47
dynamic conference configuration will be loaded through spring context initializer which had to be used in the integration tests as well

https://github.com/dukecon/dukecon_server/commit/151a7f129445364465a68c8e66040357ca5d0ad8

[2017-01-11 22:01] #47 closed, assigned to sippsack

[2017-01-20 11:57] steffchep opened #48 "Speaker Data: Speaker has no talks, but is listed under speakers"
his entry in the speakers-json:

`{
   "id": "375416",
   "name": "[edited]",
   "company": "[edited]",
   "twitter": "",
   "eventIds": [null]
}`

Perhaps there are more like it, but this one I noticed

[2017-01-20 12:21] janwesterkamp commented on #48
This might be because he is a second speaker i a talk...

By the way, Jan is an former colleague from Namics - i could try to get
the missing data from him personally ;-)

Am 20.01.17 um 12:57 schrieb steffchep:

[2017-02-01 20:55] sippsack commented on #48
Rest service returns an order value as number:

		"locations": [{
				"id": "1",
				"order": 1,
				"names": {
					"de": "Silverado Theater",
					"en": "Silverado Theater"
				},
				"icon": "location_1.png"
			}, {
				"id": "2",
				"order": 10,
				"names": {
					"de": "Quantum 1",
					"en": "Quantum 1"
				},
				"icon": "location_10.png"
			}, {

Currently it is sorted as string 1, 10, 1

[2017-02-16 09:25] steffchep opened #49 "Conference Data: please provide Link to Conference Home page"
The conference Data currently only returns the URL where the planner is reachable.
We also need the link to the Homepage (suggestion: "homePageUrl").

We can use the currently provided name as text for the link, but this seems to grow quite long in some cases ("DOAG Konferenz + Ausstellung 2016"). Suggestions?

[2017-02-17 19:04] sippsack commented on #49
fixed in 14c01d3ef877bcca6530b0916cba7f8c961cce4d

e. g. "homeUrl":"http://www.javaland.eu"

my opinion to conference name:
* content is free configurable, so it may be shortened in agreement with DOAG office
* or we could cut it after 10 chars in JavaScript
* or we need a new json field shortName

[2017-02-17 19:04] #49 closed, assigned to sippsack

[2017-02-22 21:10] sippsack opened #50 "Send simultan translation flag for each talk"
https://redmine.doag.org/issues/4083

[2017-02-22 21:14] sippsack opened #51 "conference, language and track logos and conference styles"
currently under webapp/public/img/internal-id

style properties under WEB-INF/conferences/external-id

[2017-03-03 14:27] steffchep commented on #51
Why the difference internal vs. external id? In html5 (from init.json) there is only the external one - can we change this?

[2017-03-12 18:40] ascheman opened #52 "DukeCon JL 2017 is missing a talk"
In the old Javaland conference planer we can see the talk of @chkal and @ivargrimstad: https://www.javaland.eu/konferenz/konferenzplaner/konferenzplaner_details.php?id=522447&locS=0&vid=529457.

However, DukeCon does not contain the talk. It is missing from the JSON we send to the frontend: https://dev.dukecon.org/latest/rest/conferences/jl2017

[2017-03-12 18:46] steffchep commented on #52
https://dev.dukecon.org/latest/?search=grimstad
https://dev.dukecon.org/latest/?search=kalte
... looks like the are there?

[2017-03-13 10:19] sippsack commented on #52
we filter for invalid begin and end timestamps, this talk starts at 15 p.m. and ends at 14:50 p.m.

I'll create an issue in redmine

[2017-03-13 10:19] #52 closed, assigned to nobody

[2017-03-13 10:25] sippsack commented on #52
https://redmine.doag.org/issues/4175

[2017-03-18 08:28] ascheman opened #53 "Filter out/convert special characters from DOAG data import"
At least from the DOAG data imports we get strange characters (e.g., \222) which cannot be displayed correctly. We need to sort them out or convert them (it seems to be mostly ', `, ´or --longdash).

Probably it's a question of character sets for export/import?

![screenshot_20170318-072445](https://cloud.githubusercontent.com/assets/456000/24070402/fecba3cc-0bbc-11e7-9c4a-6bf5c5986a26.png)

![cli

[2017-03-20 06:40] pittorf commented on #53
corrected in the next JSON export

[2017-03-20 06:40] #53 closed, assigned to sippsack, pittorf

[2017-05-07 08:51] #50 closed, assigned to sippsack

[2017-05-27 10:31] steffchep opened #54 "Add "keycloak enabled" to init.json"

[2017-05-27 10:38] steffchep opened #55 "deliver favicon per conference"
idea: make available under "../rest/favicon"

[2017-05-27 13:12] janwesterkamp commented on #54
authEnabled Attribute with default false added to init.json.

[2017-05-27 13:12] #54 closed, assigned to nobody

[2017-05-27 13:27] janwesterkamp opened #56 "add terms of use, privacy and imprint links to init.json"
dukecon/dukecon_html5#91

[2017-05-27 16:00] ascheman commented on #51
The HTML5 Frontend likes to get the resources as base64 encoded images (cf. dukecon/dukecon_html5#79).

[2017-05-27 16:56] janwesterkamp commented on #56
server side feature added: links will be delivered, imprint allways (NotNull) and termsOfUse, privacy can be null.

[2017-05-27 16:56] #56 closed, assigned to nobody

[2017-06-15 10:38] ascheman commented on #51
Will drop the extra resources from webapp/WEB-INF/conferences/ and integrate it to conferences.yml

[2017-06-15 11:02] ascheman commented on #37
Ich glaube, das hat sich erledigt?

[2017-06-15 11:03] ascheman commented on #36
This problem did not occur since a long time - closing!

[2017-06-15 11:03] #36 closed, assigned to nobody

[2017-06-15 11:07] ascheman opened #57 "Externalize configuration + resources"
DukeCon (Server) should read configuration and resources from external path (eg. Spring Boot ```config/``` directory).

[2017-06-15 11:12] ascheman commented on #37
Ups, the solution seems to be an anti pattern: Try-Catch-Block in ```DoagDataExtractor``` to circumvent failing Locale conversion: This should be done better!?

[2017-06-15 11:17] ascheman opened #58 "Simplify and improve build process"
The build process usually takes a lot of time since it performs a lot of Maven build steps which seem not to be necessary for every build. This should be enhanced, probably by only running some steps in a profile and running it on Jenkins only once per day?

[2017-07-12 06:13] pittorf opened #60 "Link registration should be configurable"
users without account should be redirect to the registration site of the conference. this link / redirection should be configurable in conferences.yml

[2017-07-12 06:20] pittorf opened #61 "customized CSS"
it would be great to define a CSS file in conferences.yml to customize some CSS classes for each conference

[2017-07-13 22:58] ascheman commented on #60
This issue was moved to dukecon/dukecon_infra#24

[2017-07-13 22:58] #60 closed, assigned to ascheman

[2017-07-15 12:03] ascheman opened #62 "drop context-path from application"
Up to now we had a context-path like develop/ and latest/ in the spring boot configuration to allow for proxying from different apache instances and dispatch to misc. Docker containers in the same virtual machine. Since we generate everything from puppet for some time now, we should drop these artificial and unnecessary information.

Info to @pittorf will let you know when we get rid of it to make

[2017-07-27 05:20] ascheman opened #63 "Drop ISO language codes from server implementation"
The server implementation internally uses ISO language codes (two character codes). However, some conferences use some sort of _language_ but not always mappable to ISO language codes. DOAG conferences, for instance, use _German & English_ to announce for talks which can be held in both languages or which are simultaneously translated to the opposite language.

[2017-07-30 08:20] ascheman opened #64 "Refactor ResourceService to use images/<conference>/<instance> from classpath or external folder"
I have symlinked all resources to src/main/webapp/public/images/<conferenc>/<instance>. This will enable simple Apache (proxy) configuration to map external URI `/<conference>/<instance>/images/favicon/favicon.ico` to internal `/images/<conference>/<instance>/favicon/favicon.ico`.

The ResourceServiceImpl (and it's API) should be refactored to make use of the new structure (and symlinks should be

[2017-07-30 10:17] ascheman opened #65 "Separate unit from integration tests"
We currently do not have a clear separation between unit and integration tests. We do have a number of Spec-Classes in impl/src/test/java which run a SpringBootTest. This is in fact an integration test and should be started during the maven integration-test phase.

[2017-07-30 10:40] ascheman opened #66 "Perform integration-tests only on subset of all conferences"
Currently our integration tests runs way too long. It loads all the conferences which are provided by the default conferences.yml several times. We should reduce this to a representative subset.

In the short run this might be Javaland, in the long run we would need a mocked conference provider with a good average set of test data.

[2017-08-14 19:22] ascheman opened #67 "Undo quick hack with JFS 2017 speaker data"
Found a really ugly quick hack in the code. Took me 2 hours to fix and circumvent this. Nevertheless even my workaround is still a large code smell and should be refactored.

In general we should think about using more strong types, even in internal interfaces to avoid such problems in the future. And, of course, we should provide better (unit) tests and keep our abstractions clear!!!

The problem

[2017-08-21 05:59] ahus1 opened #68 "Server doesn't reply with "304 not modified" if content hasn't changed"
When retrieving a rest resource the server never answers "304 not modified" when the client sends the etag.

Example: Open https://latest.dukecon.org/javaland/2017/rest/conferences/javaland2017/ in your browser. Call the same URL again (but not press F5). You'll see "If-None-Match" in the request, the server answers with exactly the same Etag and 200, but not 304.

This leads to users retrieving m

[2017-08-21 08:22] sippsack commented on #68
You are right, didn't recognize this is broken. Maybe it has something to do with spring boot update.

[2017-08-21 20:42] sippsack commented on #68
It works on localhost:
![image](https://user-images.githubusercontent.com/413426/29537361-baff3656-86c1-11e7-9f70-0b28b78d2cf6.png)

It does not work on prod and latest:
![image](https://user-images.githubusercontent.com/413426/29537420-f6174d82-86c1-11e7-9413-5be10f3ce74e.png)

@ascheman: maybe the Apache is causing this behaviour?

[2017-08-22 05:00] ahus1 commented on #68
There is a question on SO describing that the mod_deflate Apache module adds the suffix -gzip and therefore breaks caching.

https://stackoverflow.com/questions/29127144/cant-cache-resource-when-having-both-gzip-and-etag

The solution described at SO is to not modify the etag. I suggest that it would be even better to keep the etag suffix when sending it out to the browser but to remove any gzip s

[2017-08-22 06:36] ascheman commented on #68
The SO article suggests to perform a header edit on a certain location:

[code]

Should we do that to all requests to '\*/rest/\*'? The right way to do that is probably the `LocationMatch` Apache directive (https://httpd.apache.org/docs/current/mod/core.html#locationmatch)? I am not sure if Puppet supports that?

[2017-08-22 09:23] ahus1 commented on #68
@ascheman - i suggest that we do it on all requests, independent of the location. I suppose it also breaks caching of all javascript resources at the moment.

Good luck with puppet :-(

[2017-09-14 18:59] sippsack opened #69 "NullPointerException at /rest/image-resources.json"
root cause: conference image resources has moved in war file (because of different behaviour of maven plugin?) and no image resources could be found, so null was returned. at marshalling to json a nullpointerexception occurs.

[2017-09-14 19:00] sippsack commented on #69
should be fixed with b795eea60ded6bc6ae066ad516581c1d46f51431 and 3987497b90474b97c835b418a5f323d51391ec81

[2017-09-14 19:00] #69 closed, assigned to sippsack

[2017-09-29 08:09] sippsack opened #70 "Show slides and additional documents for each talk"
https://redmine.doag.org/issues/4402

[2017-10-18 09:58] #70 closed, assigned to sippsack

[2017-11-05 09:40] ahus1 commented on #68
@ascheman / CC: @sippsack - there is now a workaround in dukecon server for this. See commit referenced in this ticket. If you consider it not only a fix but a solution please close this issue.

[2017-11-05 20:47] sippsack commented on #68
works on latest, so we can close this ticket in my opinion

[2018-02-17 15:51] ascheman opened #71 "External Spring boot configuration does not override internal ones"
If a configuration property, in particular `conferences.file`, is specified internally and externally (cf. https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html) both values are used. Unfortunately the internal one beats the external one in this case.

Given the following scenario:
- The bundled `application.properties` file contains the property with va

[2018-02-20 21:56] sippsack opened #72 "CSV export for Canoo Voting machines"
start time, end time, title, speaker, room

[2018-02-20 22:40] timo0 commented on #72
If you want to do me a pleasure our current headers are:
`id,conference,name,type,room,speakers,startYear,startMonth,startDayOfMonth,startHour,startMinute,endYear,endMonth,endDayOfMonth,endHour,endMinute`

for `conference` and `type` you can use a static value these only relevant for the statistics

[2018-02-20 23:42] sippsack commented on #72
@timo0: I will get into CSV export tomorrow. I've just implemented a simple JSON representation, would that also suitable for the voting machine import? I could adapt the JSON fields as suggested in your last ocmment.

https://latest.dukecon.org/javaland/2018/rest/conferences/javaland2018/short

[2018-02-21 06:19] timo0 commented on #72
@sippsack In the end we need this as CSV if you're in trouble for me would also suite as JSON export which I can convert by myself.. as you please  ;-)

[2018-02-21 23:09] sippsack commented on #72
@timo0: Please check our CSV implementation:

https://latest.dukecon.org/javaland/2018/rest/conferences/javaland2018/events/short/

It delivers CSV as default

fields:
* the "conference" ID (javaland2018)
* "name" is the talk title
* "type" contains internal talk type

The rest should be self-explanatory.

[2018-02-21 23:23] timo0 commented on #72
great 👍 thanks a lot!

I've one question regarding the rooms (don't know if this is to specific):
Is it possible to do for rooms like "Quantum 3+4" two entries one with room "Quantum 3" and one with "Quantum 4"? If not I will do this on my end :)

[2018-02-22 08:36] sippsack commented on #72
Quantum 3 + 4 is actually one room. They could be divided, therefore the names.

Btw, https://latest.dukecon.org/javaland/2018/rest/conferences/javaland2018/events/short/ is our Development Stage. Production URL will be https://programm.javaland.eu/2018/rest/conferences/javaland2018/events/short/, but I'm not sure, when we deploy the CSV export.

[2018-03-09 15:02] sippsack opened #73 "Regular update of conference data doesn't work"
Actually the server rereads the conference input data every hour, so changes in the source system (Formes at DOAG) should appear lately after one hour. This seems not working at the moment.

[2018-03-15 09:10] ascheman opened #74 "Restrict access to occupied seats"
As a conference organizer I would like to restrict access to the numbers of participants to registered users (already discussed with @sippsack).

[2018-03-15 10:44] ascheman opened #75 "Server start fails if DOAG REST resource unavailable"
Currently we see server startup failures since a JSON datasource is not availble (the mentioned URL returns a 404 error):

[code]

[2018-03-16 22:22] ascheman opened #76 "reduce size of speaker images"
_From @JOpsDev on May 7, 2017 12:36_

can the image size be reduced through some measures? I might be enough to enforce the *JPG* format.

Example:

https://programm.javaland.eu/2017/rest/speaker/images/ea7f7b5ce9f6cfdf088e093ad8a6e531
is a 400x400 PNG image with ca. 400KB in size. It is displayed as a 158x158 icon on the talk's detail page.
As a 400x400 *JPG* image the size is reduced to 18KB. Mo

[2018-04-18 19:57] ascheman opened #77 "Extend init.json for feedback service"
The init.json should be extended by the following information: Feedback enabled

[2018-04-18 19:58] ascheman commented on #77
Then communicate this to @steffchep + @ahus1

[2018-04-22 10:01] chrisdutz opened #78 "Problems if locations are imported with "capacity=null""
If the import for a conference initializes the Locations without capacity, then there are IllegalArgumentExceptions in EventBooking as the capacity is "int" ... perhaps changing that to a non primitive would ease problems on this side.

[2018-05-10 16:02] ascheman commented on #77
Resolved

[2018-05-10 16:02] #77 closed, assigned to sippsack

[2018-05-12 07:41] ascheman opened #79 "If cached data are available these should be delivered if data source unavailable"
If the data source (e.g., DOAG Formes Data exporter) is not availabe DukeCon PWA client shows the message _No talks scheduled for this conference yet._. The server probably delivers an empty set of conference data in this case? If data for the conference ever was cached before the cached data should be delivered in this case (even if probably outdated).

[2018-05-12 11:34] sippsack commented on #79
has to be enabled after refactoring again

[2018-05-12 14:13] ahus1 commented on #79
Do we have any logs that confirm that formes didn't provide data? Could that be added to the monitoring, so that there is an alert when formes doesn't provide data?

Do you have apache http access logs that show the the size and the http response code? This would prove that the server is delivering no talks. Please also watch out for strange http status codes in the Apache http logs.

[2018-06-11 16:45] ascheman opened #80 "/health not working but other endpoints do"
Currently we have the situation that the `/health` endpoint in production (both Javaland and DOAG) does not respond but other endpoints (`/info`, `/rest/conferences`, ...) return results.

How could we further investigate this problem in productive environments (extend debugging, check via InspectIt, ...)?

[2018-06-11 19:38] ascheman commented on #80
Meanwhile `/rest/conferences` was not available any longer - restarted both production servers.

[2018-06-12 06:53] ahus1 commented on #80
@ascheman My two cents about further investigation: get a thread dump, if possible even a heap dump. There are multiple ways to create a thread dump, see https://stackoverflow.com/questions/4876274/kill-3-to-get-java-thread-dump

[2018-06-12 14:13] ascheman commented on #80
@ahus1 I had already tried that some time ago but for some reason did not succeed (probably since I always tried to perform the thread dump when the JVM was already completely dead?).

However, (@sippsack), today I was successful running a thread dump and it showed 102 threads blocked here:
[code]

[2018-06-12 14:47] sippsack commented on #80
let's have a look on it next weekend

[2018-06-12 15:53] ascheman commented on #80
Looks like all threads are finally blocked by one request to DOAG which never returns:

[code]

[2018-06-12 19:58] sippsack commented on #80
it is a synchronized block calling a synchronized method left over from our earlier implementation with hystrix.

[2018-08-01 20:11] sippsack opened #81 "Importer: make non string data conversion more robust"
conference data import should not fail, if the conference provider sends unexpected datatypes (text instead of numbers)

[2018-08-01 20:12] sippsack commented on #81
e. g. Sitzplätze with value “Shanghai”

[2018-10-05 22:20] sippsack opened #82 "Bad characters in Talks section"
_From @feststelltaste on September 25, 2018 19:10_

In the "Talks" section, there are some special characters that

- aren't displayed in Firefox (Version 62, Windows 10) at all:
![grafik](https://user-images.githubusercontent.com/1470822/46036692-7283b980-c106-11e8-8972-5e81f157f850.png)

- are replaced by placeholder symbols in Chrome (Version 69, for both Windows 10 and Android 8)
![grafik](htt

[2018-10-05 22:20] sippsack commented on #82
The data comes from the DOAG conference system as an ANSI encoded JSON file, as Notepad++ says:

![image](https://user-images.githubusercontent.com/413426/46046704-5b52c500-c122-11e8-9497-221fd79bc169.png)

DukeCon reads this json file with a Groovy JsonSlurper in ISO-8859-1 which already seems to fail:

![image](https://user-images.githubusercontent.com/413426/46046786-a53bab00-c122-11e8-9b41-acd

[2018-10-05 22:20] sippsack commented on #82
_From @feststelltaste on September 26, 2018 8:56_

Maybe this could "work around" the problem, but it seems that there are more characters that aren't working correctly:

![chrome69_win10_gerd](https://user-images.githubusercontent.com/1470822/46068935-9d0f5a00-c17a-11e8-802d-bb1b47ba8759.png)

[2018-10-05 22:20] sippsack commented on #82
the "Klassiker": apostroph and hyphens ...

[2018-10-05 22:30] sippsack commented on #82
Fixed with b2d2f5f2e7c3cdc0f0e85d8649ccfcbce151219d

Can already be tested on https://latest.dukecon.org/javaland/2019/#/schedule?search=P%28r%29

Will be pushed to production in the next days.

[2018-10-05 22:30] #82 closed, assigned to nobody

[2018-11-08 10:24] sippsack opened #83 "Update to OpenJDK 11"

[2018-11-27 15:42] sippsack opened #84 "Export location booking information for a past conference"
e. g. doag2018, following informations are needed: Stream, Raum, Titel, Referent und Anzahl der Teilnehmer

[2018-11-27 15:43] sippsack commented on #84
could be a secured rest endpoint which could be called from admin app

[2018-11-27 15:43] sippsack commented on #84
could be a secured rest endpoint which could be called from admin app

[2018-12-05 23:06] sippsack opened #85 "Third speaker of a event has not event ids in conferences rest resource"
e. g. https://programm.doag.org/doag/2018/rest/conferences/doag2018

speaker: {
			"id": "355801",
			"name": "Guido Westrup",
			"firstname": "Guido",
			"lastname": "Westrup",
			"company": "Hellmann Worldwide Logistics SE & Co. KG",
			"eventIds": [null]
		}

Speaker Mohl has an eventId:

{
			"id": "43227",
			"name": "Michael Mohl",
			"firstname": "Michael",
			"lastname": "Mohl",
			"compan

[2019-03-04 12:21] PhilippMStahn opened #89 "CSV export for participants favored lectures"
Build a query via REST that will immediately publish the title of the lecture and the number of favorites for a specific conference.

[2019-03-07 08:40] sippsack opened #90 "Add update date to favorites table"
Background:

To be able to schedule the sessions for the correct rooms according to their favorites, it would help to see, when most of the favorites were set. Especially when a diamond session or panel discussion was planned later it would help to see only these favorites since scheduling of these sessions.

[2019-03-08 08:23] sippsack commented on #89
did a first draft. it is deployed at latest, but can't not be tested yet. We need to adapt reverse proxy routes to reach the new endpoint:

https://latest.dukecon.org/javaland/2019/rest/admin/javaland2019/favorites

At the moment only json documents will be returned, I will extend it to CSV output later.

[2019-03-14 09:15] sippsack commented on #89
moved rest endpoint address to rest/favorites/conferenceId (unsecured)

e.g.
http://programm.javaland.eu/2019/rest/favorites/javaland2019
http://programm.doag.org/apex/2019/rest/favorites/apex2019

return CSV (import in Excel as UTF-8!) or JSON (Accept-Header = application/json)

[2019-03-16 23:04] sippsack opened #91 "Third speaker of a talk has no events assigned in speakers view"
Ivar exists twice because he was created accidentally twice in Formes. Formes data has to be fixed an only one Ivar should be delivered. This fix is not part of this ticket.

Besides that, the 2nd Ivar has no talks assigned.
![image](https://user-images.githubusercontent.com/413426/54482673-869fac80-4847-11e9-85ec-1986705b5a31.png)

But the second Ivar is the third speaker of a talk:
![image](http

[2019-03-16 23:20] sippsack commented on #91
fixed:
![image](https://user-images.githubusercontent.com/413426/54482886-848b1d00-484a-11e9-9fbf-272e721dafdb.png)

[2019-03-16 23:20] #91 closed, assigned to sippsack

[2019-03-17 19:56] 123Haynes opened #93 "Add renovatebot to automatically keep the dependencies up to date"
I'd like to propose adding [renovatebot](https://renovatebot.com/) to this repo.

The github app is free for open source projects: https://github.com/marketplace/renovate

It automatically creates a PR when a dependency update is available.
See https://github.com/renovatebot/renovate/pull/3401 for an example of how a PR with a dependency update looks.

[2019-04-30 12:17] steffchep opened #95 "pass preferences.noauth.enableIdParam into init.json"
When the server is started with this option,
set paramerter
"noAuthEnableIdParam" to true in init,json

[2019-05-05 09:11] ascheman opened #96 "Exception in conference extractor leads to abort of server"
If for some reason the respective data extractor class for one conference runs into an RuntimeException the server aborts. The extractor loop (which loads all conferences) should become more robust and skip the problematic conference in this case.

[2019-05-09 16:52] srose commented on #80
@ascheman @sippsack is this still an issue?

[2019-05-09 16:58] srose commented on #96
Will be resolved by separated processes: data transformation and serving data + some functions like feedback

[2019-05-09 18:11] ascheman commented on #80
Probably: We ran into this with our old Nagios based monitoring. We should check again when Prometheus is in regular use (@AntjeL)

[2019-05-12 15:19] ascheman opened #98 "Avoid "util" packages - this is an antipattern"
Delete packages like util and move their contents to some business
logic or adapter logic classes. It is considered an antipattern.
If you cannot name something you should carefully think about a
better name.

[2019-06-05 19:59] steffchep opened #100 "Freely configureable footer links"
referring to this commit:
https://github.com/dukecon/dukecon_pwa/commit/c96ef5c1d2e9bab39943b5d4bf56558290eb4c04

Example how Init.json needs to look for this
https://github.com/dukecon/dukecon_pwa/commit/57adb92b47853a93a7ea91432bde82443757c127

[2019-10-13 09:11] ascheman opened #102 "Remove conference data load from service"
The server instance should not load (and transform and server) conference data any longer.

[2019-10-13 11:02] sippsack commented on #102
We will seperate server implementation (favorites, preferences, feedback) from conferences data provider. Conference data provider will be cron job triggered processes generating static files (init.json, resources.json, conferences.json. speaker images, ...).

[2019-10-13 11:27] srose commented on #102
![20191013_125138](https://user-images.githubusercontent.com/599059/66714902-2a8d0e80-edbd-11e9-8367-64a4dd65891b.jpg)
![20191013_125133](https://user-images.githubusercontent.com/599059/66714903-2a8d0e80-edbd-11e9-89b0-d36abab966c3.jpg)
![20191013_125130](https://user-images.githubusercontent.com/599059/66714904-2a8d0e80-edbd-11e9-8f39-24a4ed665dd2.jpg)

[2019-10-13 12:15] sippsack commented on #102
Test system using new infrastructure:
https://latest-static.dukecon.org/javaland/2020/

to be implemented:
- [x] https://latest-static.dukecon.org/javaland/2020/rest/conferences/javaland2020
- [x] https://latest-static.dukecon.org/javaland/2020/rest/init.json
- [x] https://latest-static.dukecon.org/javaland/2020/rest/image-resources.json
- [x] https://latest-static.dukecon.org/javaland/2020/rest/c

[2019-10-13 13:14] sippsack commented on #102
todos:

* implement missing static endpoints
  * check if speaker images gets saved already
* remove endpoints from server which has been moved to static endpoints

[2020-02-16 16:43] sippsack commented on #102
Current state:
There is now a static generated file for every dynamic file endpoint.

Todos:
- [x] error handling for DOAG data not found and empty response (error json)
- [ ] Tests for static file generation: styles.css
- [ ] refactoring of SpeakerImageService implementations
- [ ] Caching old input files (last 10 successful) for resilient behaviour (separate issue)
- [ ] disable reading of confe

[2020-02-19 07:45] srose opened #105 "mutated vowels broken in speaker bio"
https://programm.javaland.eu/2020/#/scheduledEvent/590502

speakers bio contains mutated vowels

[2020-02-19 13:42] srose commented on #105
problem of the source, ticket in redmine: https://redmine.doag.org/issues/11635

[2020-02-19 13:42] #105 closed, assigned to nobody

[2020-02-23 23:20] sippsack commented on #102
I've converted all JavaLand conferences, so we have some more test data:

https://latest-static.dukecon.org/javaland/2017/
https://latest-static.dukecon.org/javaland/2018/
https://latest-static.dukecon.org/javaland/2019/
https://latest-static.dukecon.org/javaland/2020/

JavaLand 2016 does not work, because the local file location of input data can not be found.

TODOs:

- [ ] maybe something like

[2020-08-12 18:46] srose commented on #102
What is missing to close this?

[2021-10-19 00:28] renovate[bot] opened #189 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

These problems occurred while renovating this repository. [View logs](https://developer.mend.io//github/dukecon/dukecon_server).

 - WARN: Package lookup failures

## Rate-Limited

These updates are currently